<html>
    <head>
        <link rel="stylesheet" text="text/css" href="/styles/index_style.css" />
    </head>
    <body>
        <h1>Home</h1>
        <nav>
            <div class="navigator">
                <a href="#description">Description | </a>
                <a href="#real_story">Real Story | </a>
                <a href="#seasons">Seasons </a>
            </div>
            <section id="description">
                <h2>Description</h2>
                <h3>
                    Peaky Blinders is a British period crime drama television series created by Steven Knight. 
                    Set in Birmingham, England, the series follows the exploits of the Shelby crime family in 
                    the direct aftermath of the First World War. The fictional family is loosely based on a real 19th 
                    century urban youth gang of the same name, who were active in the city from the 1890s to the early 
                    twentieth century. Peaky Blinders features an ensemble cast, with Cillian Murphy, Helen McCrory, 
                    Joe Cole and Paul Anderson starring as Tommy Shelby, Elizabeth "Polly" Gray, John Shelby and Arthur 
                    Shelby respectively, the gang's senior members. The series premiered on 12 September 2013, telecast 
                    on BBC Two until the fourth season, and then shifted to BBC One for the fifth season.
                    In 2018, after the show's Drama Series win at the BAFTA TV Awards, Knight confirmed his "ambition of making 
                    it a story of a family between two wars, and by ending it with the first air raid siren in Birmingham", 
                    which was 25 June 1940. After the conclusion of the fourth series, he confirmed that it would take another 
                    three series (seven in total) to complete the story up to that point. The fifth series premiered on BBC One 
                    on 25 August 2019 and finished on 22 September 2019.
                    <br/> <br/>
                </h3>
                <img src="/img/the_family.jpg"/>
                <h3>
                    Peaky Blinders is a gangster family epic set in Birmingham, England, in 1919, several months after the end 
                    of the First World War in November 1918. The story centres on the Peaky Blinders gang and their ambitious and 
                    highly cunning boss Tommy Shelby (Cillian Murphy). The gang comes to the attention of Major Chester Campbell (Sam Neill), 
                    a Detective Chief Inspector in the Royal Irish Constabulary (R.I.C.) sent over by Winston Churchill from Belfast, 
                    where he had been sent to clean up the city of the Irish Republican Army (I.R.A.), Communists, gangs and common criminals.
                    Winston Churchill (played by Andy Nyman in Series 1 and Richard McCabe in Series 2) charged him with suppressing 
                    disorder and uprising in Birmingham and recovering a stolen cache of arms meant to be shipped to Libya. 
                    The first series concludes on 3 December 1919 – "Black Star Day", the event where the Peaky Blinders plan to take over 
                    Billy Kimber's betting pitches at the Worcester Races. The second series sees the Shelby family expand their criminal 
                    organisation in the "South and North while maintaining a stronghold in their Birmingham heartland." 
                    It begins in 1921 and ends with a climax at Epsom racecourse on 31 May 1922 – Derby Day. The third series starts and 
                    ends in 1924 as it follows Tommy and his family entering an even more dangerous world as they once again expand, 
                    this time internationally. The third series also features Father John Hughes (Paddy Considine), who is involved in 
                    an anti-communist organization; Ruben Oliver (Alexander Siddig), a painter whom Polly enlists to paint her portrait; 
                    Russian Duchess Tatiana Petrovna (Gaite Jansen); and Linda Shelby (Kate Phillips), new wife of Arthur.
                    The fourth series begins on Christmas Eve 1925 and ends following the general strike of May 1926 with Tommy 
                    being elected as a Member of Parliament in 1927. The fifth series begins two years later on 29 October 1929 
                    (Black Tuesday) and ends on 7 December 1929, the morning after a rally led by fascist leader Oswald Mosley.
                </h3>
                <table class="statistics">
                    <tr>
                        <th>Award</th>
                        <th>Category</th>
                    </tr>
                    <tr>
                        <td rowspan="2">BAFTA Television Craft Awards</td>
                        <td>Best Director: Fiction</td>
                    </tr>
                    <tr>
                        <td>Best Photography and Lighting : Fiction</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Biarritz International Festival of Audovisual Programming</td>
                        <td>Best Actor in a TV Serial - Chillian Murphy</td>
                    </tr>
                    <tr>
                        <td>Best Actress in a TV Serial - Helen McCrory</td>
                    </tr>
                    <tr>
                        <td>Best Music in a TV Series or Serial - Martin Phipps</td>
                    </tr>
                    <tr>
                        <td>RTS Programme Awards</td>
                        <td>Best Drama Series</td>
                    </tr>
                    <tr>
                        <td rowspan="2">RTF Craft & Design Awards</td>
                        <td>Best Costume Design: Drama</td>
                    </tr>
                    <tr>
                        <td>Judges' Award</td>
                    </tr>
                    <tr>
                        <td>IFTA Film and Television Awards</td>
                        <td>Best Leading Actor in a Drama Series - Chillian Murphy</td>
                    </tr>
                    <tr>
                        <td>Irish Film and Television Awards</td>
                        <td>Best Leading Actor in a Drama Series - Chillian Murphy</td>
                    </tr>
                    <tr>
                        <td rowspan="2">BAFTA Television Awards</td>
                        <td>Best Drama Series</td>
                    </tr>
                    <tr>
                        <td>Best Writer : Drama - Steven Knight</td>
                    </tr>
                    <tr>
                        <td>TV Choice Awards</td>
                        <td>Best Actor - Chillian Murphy</td>
                    </tr>
                    <tr>
                        <td>Televisual Bulldog Awards</td>
                        <td>Best Drama One-Off</td>
                    </tr>
                </table>
            </section>
            <section id="real_story">
                <h2>Real Story</h2>
                <h3>The Peaky Blinders were an urban street gang based in Birmingham, England, that operated from the end of the 
                    19th century and after the First World War. The group, which grew out of the harsh economic deprivations of  
                    working class Britain, was composed largely of young men of lower to middle-classes. They derived social  
                    power from robbery, violence, racketeering, illegal bookmaking and the control of gambling. Members of this  
                    gang wore a signature outfit that included tailored jackets, lapel overcoats, button waistcoats, silk scarves,  
                    bell-bottom trousers, leather boots, and peaked flat caps. The gang was highly organized with its own systems of hierarchy.
                    The Blinders’ dominance came about from beating rivals, such as the "Sloggers", whom they fought for territory in Birmingham 
                    and its surrounding districts. They held control for nearly 20 years until 1910, when a larger gang, the Birmingham Boys led 
                    by Billy Kimber, overtook them. However, even though they had disappeared by the 1920s, the name of the "Peaky Blinders" became 
                    synonymous slang for any street gang in Birmingham.
                </h3>
                <img style="margin-right: 20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Harry_Fowles_Peaky_Blinder.jpg/220px-Harry_Fowles_Peaky_Blinder.jpg"/>
                <img style="margin-right: 20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Peaky_Blinders_-_Thomas_Gilbert.jpg/220px-Peaky_Blinders_-_Thomas_Gilbert.jpg" />
                <img style="width: 30%" src ="https://historywm.com/image/historywm/real-peaky-blinders-27453.png" />
                <h3>
                    The name is said to be derived from the gang members' practice of stitching disposable razor blades into the peaks of their flat caps 
                    which could then be used as weapons. However, as the Gillette company only introduced the first replaceable safety razor system in 1903, 
                    in America, and it was not until 1908 that the first factory manufacturing them in Great Britain opened, this version of the name is 
                    considered apocryphal. British author John Douglas, from Birmingham, claimed hats were used as a weapon in his novel A Walk Down Summer 
                    Lane – members with razor blades sewn into their caps would headbutt enemies to potentially blind them. However, according to English professor 
                    Carl Chinn, Chair of Community History at the University of Birmingham, this theory is a myth and there is no evidence to support it. 
                    Birmingham historian Carl Chinn believes the name is actually a reference to the gang's sartorial elegance. He says the popular usage of "peaky" 
                    at the time referred to any flat cap with a peak.[1] "Blinder" was a familiar Birmingham slang term (still used today) to describe something or someone of dapper appearance. 
                    A further explanation might be from the gang's own criminal behaviour: they were known to sneak up from behind, then pull the hat peak down over a victim's face so they could not describe who robbed them.
                </h3>
                <img style="width: 30%; margin-right: 30px;" src="https://i2-prod.mirror.co.uk/incoming/article11905488.ece/ALTERNATES/s1227b/PAY-Geordie-Criminals.jpg" />
                <img style="width: 45%;" src="https://ilovemanchester.com/wp-content/uploads/2019/09/Peaky-Blinders-collage-696x464.jpg" />
            </section>
            <section id="seasons">
                <h2>Seasons</h2>
                <table class="statistics">
                    <tr>
                        <th>Season</th>
                        <th>Episodes</th>
                        <th>Launch Date</th>
                        <th>Average UK Viewers (M)</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>6</td>
                        <td>12 September 2013</td>
                        <td>2.38</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>6</td>
                        <td>2 October 2014</td>
                        <td>2.18</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>6</td>
                        <td>5 May 2016</td>
                        <td>2.85</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>6</td>
                        <td>15 November 2017</td>
                        <td>4.05</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>6</td>
                        <td>25 August 2019</td>
                        <td>7.20</td>
                    </tr>
                </table>
                <h3>
                    <label style="margin-right: 50px;">Season 1</label> 
                    <br/><br/>
                    Peaky Blinders was created by Steven Knight, directed by Otto Bathurst, and produced by Katie Swinden. 
                    The writers are listed as Steven Knight, Stephen Russell and Toby Finlay. Screen Yorkshire provided funding for the 
                    production through the Yorkshire Content Fund, ensuring that the majority of the show was filmed in Yorkshire as part of 
                    the deal.[12] The series was filmed in Birmingham, Bradford, Dudley, Leeds, Liverpool, and Port Sunlight. 
                    Railway sequences were filmed between Keighley and Damems, using carriages from the Ingrow Museum of Rail Travel 
                    (owned by Vintage Carriages Trust),[14] and carriages owned by the Lancashire and Yorkshire Railway Trust. 
                    Many of the scenes for the show were shot at the Black Country Living Museum. Sam Neill enlisted the help of Northern 
                    Irish actors James Nesbitt and Liam Neeson to help him perfect a Northern Irish accent for the role of C.I. Campbell. 
                    In the end, he had to tone down the accent since the series is being marketed in the United States. Controversially, 
                    the production did not hire linguists to assist in the show, leading to the Gypsies' frequently speaking broken 
                    Romanian (as opposed to Romani).
                    <br/><br/><br/>
                    <label style="margin-right: 50px;">Season 2</label> 
                    <br/><br/>
                    A second series was commissioned shortly after the broadcast of the first and aired in October and November 2014. 
                    On 11 January 2014, auditions were held in Digbeth area of Birmingham (near where parts of the series are set)  
                    for white and mixed race teenage male extras, resulting in lengthy queues.
                    <br/><br/><br/>
                    <label style="margin-right: 50px;">Season 3</label> 
                    <br/><br/>
                    Shortly after the final episode of the second series, the show announced via its official Twitter account that it had been renewed for a third series.
                    On 5 October 2015, the official Peaky Blinders Twitter account announced that filming had begun for series 3. 
                    Filming wrapped on 22 January 2016, after 78 days of shooting.
                    <br/><br/><br/>
                    <label style="margin-right: 50px;">Season 4 and 5</label> 
                    <br/><br/>
                    During the initial broadcast of series 3, the BBC renewed Peaky Blinders for series 4 and 5, each of which comprises 
                    six episodes.[25] Filming for series 4 started in March 2017 and premiered on 15 November 2017 on BBC Two. 
                    The fourth series did not include The Weinstein Company or its logo in its credits and will continue to no longer 
                    be included, even though the company was formerly involved in the US distribution of the series. On 22 August 2018, 
                    the BBC confirmed that series 5 would be broadcast on BBC One. Having already premiered to a select audience at Birmingham 
                    Town Hall on 18 July 2019, the series began airing on BBC One on 25 August 2019.
                </h3>
            </section>
        </nav>
    </body>
</html>