<html>
    <head>
        <link rel="stylesheet" text="text/css" href="/styles/shopping_styles.css" />
    </head>
    <body>
        <h1>Shopping cart</h1>
        
        <% if(data.message != null) {%>
            <h2 style="margin-top: 30px;"><%- data.message -%></h2>
        <% } else {%>
            <div class="cart"></div>
            <h3 id="pret_final"></h3>
            <form id="myform" action="/finalizare_comanda" method="POST">
                <fieldset>
                    <legend>Personal Data</legend>
                    <div class="creare_field">
                        <label>Name : </label>
                        <input id="name" type="text" name="name" required="required" />
                    </div>
                    <div class="creare_field">
                        <label>Phone Number : </label>
                        <input id="phone" type="tel" name="telephone" required="required"/>
                    </div>
                    <div class="creare_field">
                        <label>Email : </label>
                        <input id="email" type="email" name="email" required="required"/>
                    </div>
                    <div class="creare_field">
                        <label>Address : </label>
                        <input id="address" type="text" name="address" required="required"/>
                    </div>
                    <div class="creare_field">
                        <label>City : </label>
                        <input id="city" type="text" name="city" required="required"/>
                    </div>
                    <div class="creare_field">
                        <label>Payment method : </label>
                        <select name="payment">
                            <option value="cash">Cash</option>
                            <option value="card">Card</option>
                            <option value="paypal">Paypal</option>
                            <option value="kidney">Kidney</option>
                        </select>
                    </div>
                    <input id="cart" type="hidden" name="cart" />
                    <input id="finalizare_comanda" type="submit" value="Send Command" />
                </fieldset>
            </form>
            <% } %>
            </body>
    <script>
        var content = document.getElementsByClassName("cart")[0]
        var items = <%- JSON.stringify(data.items) %>
        var user = <%- JSON.stringify(data.credentials) %>
        console.log(user)
        console.log(items)
        console.log(items)
        console.log(items)
    
        if(user != null){
            document.getElementById("name").value = user.last_name + " " + user.first_name
            document.getElementById("email").value = user.email
            document.getElementById("address").value = user.address
            document.getElementById("city").value = user.city
        }
        if(items.length == 0){
            document.getElementById("myform").style.visibility = "hidden"
            document.getElementById("pret_final").style.visibility = "hidden"
        }
        else{
            document.getElementById("myform").style.visibility = "visible"
            document.getElementById("pret_final").style.visibility = "visible"
        }
        var price = 0
        updateLayout(items)
        function updateLayout(items){
            content.innerHTML = ''
            i = 0;
            items.forEach(item =>{
                let newitem = document.createElement("div");
                newitem.style.marginBottom = "50px";
                newitem.style.gridColumn = (i++) % 3 + 1 

                let name = document.createElement("h2")
                name.appendChild(document.createTextNode(item.product.nume))

                let pret = document.createElement("h3")
                let finalprice = parseInt(item.quantity) * parseInt(item.product.pret)
                price += finalprice
                pret.appendChild(document.createTextNode("Price : " + finalprice + " lei"))
                
                let cantitate = document.createElement("h3")
                cantitate.appendChild(document.createTextNode("Quantity : " + item.quantity))

                let imagine = document.createElement("img")
                imagine.src = item.product.imagine;

                newitem.appendChild(imagine);
                newitem.appendChild(name);
                newitem.appendChild(cantitate)
                newitem.appendChild(pret);
                content.appendChild(newitem);
            })
            document.getElementById("pret_final").innerHTML = "Final price: " + price + " lei"
            document.getElementById("cart").value = JSON.stringify(items)
        }
        
        
    </script>
</html>